.div-contenedor-login{
    width: 100vw;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-loginPage{
    width: min(60%, 110rem);
    /* margin: 18vh auto; */
    /* height: fit-content; */
    display: flex;
    flex-direction: row;   
    position: relative; 
}

.link-register{
    display: inline-block;
    position: relative;
    color: var(--white);
    font-size: large;
}

.link-register:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.link-register:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.titleLoginForm{
    text-align: center;
    font-size: larger;
    width: 80%;
}

.imgLogin{
    width: 20rem;

    /* background-image: url('../../public/Perfil.png'); */
    background-image: url('https://cinepachoapi.azurewebsites.net/uploads/loginfoto.jpeg');

    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    border-radius: 50%;
    /* background-image: url('https://cinepachoapi.azurewebsites.net/uploads/perfil.jpeg'); */
}

@media (max-width: 1366px) {
    .imgLogin{
        width: 60%;
    }
    .header-loginPage{
        border-radius: 50px 50px 50px 50px;
    }
    .body-loginPage{
        border-radius: 50px 50px 50px 50px;
    }
}

.header-loginPage{
    border-radius: 50px 0 0 50px;
    border: 0.1rem solid var(--black);
    display: flex;
    justify-content: center;
}

.body-loginPage{
    display: flex;
    flex-direction: column;
    flex-grow: 2;
    gap: 10px;
    border-radius: 0 50px 50px 0;
    align-items: center;
    justify-content: center;
    background-color: var(--black);
    border: 0.1rem solid var(--black);
}

@media (max-width: 1366px) {
    .body-loginPage{
        /* padding: 5rem; */
    }
}

.body-loginPage > *{
    color: var(--white);
}