

.link-login{
    display: inline-block;
    position: relative;
    color: var(--white);
    font-size: large;
}

.link-login:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.link-login:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.imgRegister{
    width: 20rem;
    /* background-image: url('../../public/Perfil.png'); */
    background-image: url('https://cinepachoapi.azurewebsites.net/uploads/loginfoto.jpeg');

    background-image: no-repeat;
    background-image: fixed;
    background-image: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    background-position: center;
}
