.container-snacks{
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    place-content: center;

    row-gap: 8rem; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}