.item-movies {
    display: grid;
    place-content: center;
}

.imgMovie {
    width: 20rem;
    height: 30rem;
    border-radius: 10px;
}

.title-movie {
    margin: 0;
    text-align: center;
}

.imgStarMovie{
    height: 1rem;
    margin: auto 0;
}