.navBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 1rem 3rem;
    color: var(--white);
    background-color: var(--primary);

    -webkit-box-shadow: 0px 10px 56px -24px rgba(255, 255, 255, 0.76);
    -moz-box-shadow: 0px 10px 56px -24px rgba(255, 255, 255, 0.76);
    box-shadow: 0px 10px 56px -24px rgba(255, 255, 255, 0.76);
}

.navBar--options {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 2rem;
}

.navBar--link {
    display: inline-block;
    position: relative;
    color: var(--white);
}

.navBar--link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.navBar--link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.navBar--profile{
    display: flex;
    flex-direction: row;
    column-gap: 1rem;
}

.shoppingCartIcon{
    margin: auto;
}

.btn-logout{
    background-color: var(--secondary);
    padding: 0 6px;
    border-radius: 2px;
}