:root {
    --TextBG: #1E1E1E;
    --Button: #C22B2E;
    --Text: #FDFEFF;
}

.CardSnack {
    width: 28rem;
    /* height: 20rem; */
    min-height: fit-content;
    background-color: var(--TextBG);
    border-radius: 14px;

    /* display: grid; */
    /* grid-template-rows: 4fr 2fr; */
    justify-self: center;

    -webkit-box-shadow: 0px 10px 30px -12px rgba(0, 0, 0, 0.70);
    -moz-box-shadow: 0px 10px 30px -12px rgba(0, 0, 0, 0.70);
    box-shadow: 0px 10px 30px -12px rgba(0, 0, 0, 0.70);
}

/* Test */
.CardImage {
    background-color: rgb(142, 176, 240);
    height: 13.5rem;
    border-radius: 14px 14px 0px 0px;
}

.CardImage img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    border-radius: 14px 14px 0px 0px;
}

.CardInfo {
    background-color: var(--TextBG);
    height: 100%;
    border-radius: 0px 0px 14px 14px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 16px;
}

.CardTitle {
    grid-column: 1/1;
    grid-row: 1/1;

    color: var(--Text);

    padding: 1rem 0 0 1rem;
}

.CardBtn {
    grid-column: 2/3;
    grid-row: 2/3;
    place-self: center;

    width: 80%;
    height: 80%;

    border-radius: 10px;
    text-transform: uppercase;
    background-color: var(--Button);
    text-decoration: underline;
    color: var(--Text);
}

.PrecioSnack{
    text-align: right;
    padding: 1rem 1rem 0 0;
    color: var(--white);
    font-size: 35px;
}

.snackBuy{
    grid-area: 2 / 1 / 3 / 3;
    justify-self: center;
}

.snackBuy > form > input{
    width: 100%;
}

.input-snack-usuarionormal{
    margin: 16px 0;
}

.btn-submit-producto-usuario{
    width: 100%;
}