@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;600;700&family=Source+Sans+3:wght@300;400;600;700&display=swap');

:root {
  /* Colors */
  --primary: #003E9A;
  --secondary: #C22B2E;
  --tertiary: #FEB907;
  --background: #F2F2F2;
  --white: #FFFFFF;
  --black: #161616;

  /* Fonts */
  --titlesFont: 'Source Sans 3', sans-serif;
  --textFont: 'Noto Sans', sans-serif;
}

body {
  font-family: var(--textFont);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--titlesFont);
  text-transform: uppercase;
}

h1 {
  font-weight: 700;
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 400;
  font-size: 2rem;
  margin: 0;
}